/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-green: rgba(68, 255, 161, 1);
  --color-slate-900: rgba(36, 5, 62, 1);
  --color-slate-500: rgba(88, 77, 98, 1);
  --color-slate-100: rgba(253, 250, 255, 1);
  --color-white: rgb(255, 255, 255);
}

@font-face {
  font-family: "Manrope Regular";
  src: url("./assets/fonts/manrope/static/Manrope-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces Semi Bold";
  src: url("./assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

html {
  font-size: 18px;
  font-family: "Manrope Regular";
}

body {
  letter-spacing: 0;
}

:focus-visible {
  outline: none;
}

.hidden {
  position: absolute;
  left: -9999px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Fraunces Semi Bold";
}

h1 {
  font-size: 4.44rem; /* 80px */
  line-height: 100%;
  color: var(--color-white);
}

h2 {
  font-size: 3.11rem; /* 56px */
  line-height: 120%;
  color: var(--color-white);
}

h3 {
  font-size: 1.78rem; /* 32px */
  line-height: 120%;
  color: var(--color-slate-900);
  margin-top: 3.11rem; /* 56px */
  margin-bottom: 1.56rem; /* 28px */
}

p {
  font-size: 1rem; /* 18px */
  line-height: 180%;
}

button {
  font-size: 18px;
  line-height: 150%;
  cursor: pointer;
  font-weight: bold;
  font-family: "Manrope Regular";
}

header {
  background-color: var(--color-slate-900);
  height: 91px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 1120px;
  display: flex;
  justify-content: space-between;
  padding-top:  3.11rem; /* 56px */
}

#nav-btn-access {
  background-color: transparent;
  border: none;
  color: var(--color-white);
  border-bottom: 3px solid var(--color-green);
}

#nav-btn-access:hover,
#nav-btn-access:focus {
  color: var(--color-green);
  outline: none;
  transition: color 0.4s;
}

.btn-primary {
  background-color: var(--color-green);
  padding: 0.67rem 1.78rem; /* 12px 32px */
  border: 2px solid transparent;
}

.btn-primary:hover,
.btn-primary:focus {
  border: 2px solid var(--color-green);
  background-color: transparent;
  color: var(--color-green);
  outline: none;
  transition: background-color 0.4s, color 0.4s;
}

.digit {
  width: 3.11rem; /* 56px */
  height: 3.11rem; /* 56px */
  border: 1px solid var(--color-slate-500);
  border-radius: 50%;
  font-family: "Fraunces Semi Bold";
  line-height: 2.22rem; /* 40px */
  font-size: 1.33rem; /* 24px */
  margin: 0 auto;
}

.section {
  max-width: 100%;
}

.hero {
  background-color: var(--color-slate-900);
  padding-top: 3.11rem; /* 56px */
  padding-bottom: 16.44rem;
}

.hero h1 {
  text-align: center;
  margin-bottom: 2.22rem; /* 40px */
}

#word-accent {
  border-bottom: 3px solid var(--color-green);
  display: inline-block; /* macht Strich näher zum Wort */
}

#background-radius {
  height: 4rem;
  background-color: var(--color-slate-900);
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%;
}

#img-phone-wrapper {
  margin-top: -15.25rem; /* 235px */
  margin-bottom: 4.89rem; /* 88px */
  text-align: center;
}

#img-phone {
  max-width: 42.61rem; /* 767px */
  height: auto;
}

.features {
  margin-bottom: 6.22rem; /* 112px */
}

#features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.78rem; /* 32px */
  text-align: center;
  max-width: 62.22rem; /* 1120px */
  margin: 0 auto;
}

.access-call {
  max-width: 62.22rem; /* 1120px */
  position: relative;
  height: 32.17rem; /* 579px */
  margin: 0 auto;
}

#access-call-inner-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40.56rem; /* 730px */
  background-color: var(--color-slate-900);
  padding: 3.56rem; /* 64px */
  justify-content: end;
}

#access-call-inner-wrapper p {
  margin: 1.78rem 0; /* 32px 0 */
  color: var(--color-white);
}

#img-founder-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

#img-founder {
  max-width: 26.5rem; /* 477px */
  height: auto;
}

footer {
    margin: 6.22rem 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer-links-wrapper {
  display: flex;
  gap: 1.55rem;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 3.11rem;
}

.footer-links-wrapper a svg path {
  fill: #584D62;
  transition: fill 0.4;
}

.footer-links-wrapper a:hover svg path,
.footer-links-wrapper a:focus svg path {
    fill: var(--color-slate-900);
}

@media (max-width: 1120px) {
  nav {
    padding: 0 1rem;
  } 

  .access-call {
    height: auto;
    max-width: 100%;
    position: static;
  }

  #access-call-inner-wrapper {
    position: static;
    width: 100%;
    padding: 1.11rem; /* 20px */
    box-sizing: border-box;
  }

  #img-founder-wrapper {
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 1.11rem; /* 20px */
  }

  #img-founder {
    max-width: 26.5rem; /* 477px */
    height: auto;
  }
}